* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c0dfed;
  font-family: Arial;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .sobre p{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10em;
    padding-right: 10em;
  }
}

@media (max-width: 484px) {
  figure {
    padding-bottom: 2em;
  }
}

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ec1da;
}
  
.menu {
  background-color: black;
  font-family: 'Source Code Pro', monospace;
  /*opacity: 0.9;*/
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}
.menu ul {
  display: flex;
  justify-content: space-around;
}
.menu li {
  list-style-type: none;
}
.menu a {
  padding: 15px;
  display: block;
  background-color: rgba(221, 176, 181, 0.171);
  color: white;
}
 
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
} 
  
.site-tittle, .site-subtittle {
  text-align: center;  
}
.site-tittle {
  font-size: 2em;
}
.site-subtittle {
  font-style: italic;
}

section h2, h3 {
  text-align: center;
  font-family: Arial;
  line-height: 1.8em;
}
section {
  padding: 1em;
}

.sobre, .portfolio{
  padding: 2em;
  min-height: 50vh;
}

.gamb {
  color: #c0dfed; 
}
 
.sobre h2{
  text-align: center;
  font-family: 'Baloo 2', cursive;
}

.sobre .avatar {
  display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: row;
	flex-wrap: wrap;
  text-align: center;
  padding: 1em;
}
.sobre img {
  height: 249px;
  width: 249px;
  border-radius: 50%;
}

.sobre p {
  text-indent: 1em;
  text-align: justify;
  font-family: 'Baloo 2', cursive;
  font-size: medium;  
}

.sobre a {
  color: black;
}
.sobre a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgb(129, 76, 76, 0.9);
  /*color: whitesmoke;*/
}

/* .portfolio h3 {
  padding-bottom: 1em;
} */
.portfolio a {
  font-family: 'Baloo 2', cursive; 
}

.imagens {
	display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: row;
	flex-wrap: wrap;
  text-align: center;
  padding: 2em;
}
.imagens img{
  margin-left: 20px;
  margin-right: 30px;
}

.img-portfolio  {
  width: 300px;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;

  border-radius: 8px;
  border-style: solid;
  border-color: #000;
}
@media (min-width: 1200px) {
  .img-portfolio  {
    width: 700px;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
  
    border-radius: 8px;
  }

  .imagens figcaption {
    margin-bottom: 42px;
  }
}

.img-portfolio:hover {
  transform: scale(0.9);
}

figcaption a {
  color: #000;
  font-size: 1.5em;
}

.contato {
  background-color: #8ec1da ;
} 
.contato h2 {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  margin-left: 0.4em;
  text-align: left;
  padding-bottom: 0.2em;
}
.contato a {
  color: black;
  font-size: 3.4em;
}

.contato .icons {
  text-align: left;
}
.fab.fa-github, .fab.fa-twitter, .fab.fa-linkedin, .fas.fa-at {
  margin-left: 10px;
  margin-right: 10px;
}

.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgb(129, 76, 76, 0.9);
}

h4 {
  font-size: 0.5em;
  padding-top: 2em;
}
.contato h4 a {
  font-size: 1em;  
}
